.comingSoon{
    background-image: url(../images/7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: auto 0;
}