.playlist-container{
    display:flex;
    justify-content: space-between;
    font-family: 'EB Garamond', serif;
}

.song {
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    padding: 5px;
    background-color: black;
    color: white;
    align-items: center;
}

.song audio {
    width: 180px;
}

